.calendar-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 14px;
    height: calc(100vh - 100px);
    margin: 20px auto;
    min-height: calc(100vh - 100px);
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    padding: 0 40px;
    width: 90%;
}

.rbc-event {
    border-radius: 4px;
    opacity: 0.8;
    color: #FFFFFF;
    border: 1px;
    display: block;
}

.rbc-event.BendJS {
    background-color: #FFFF00;
    color: #000000;
}

.rbc-event.BendTech {
    background-color: #00FF00;
}

.rbc-event.AWS {
    background-color: #0000FF;
}

.rbc-event.WordPress {
    background-color: #FF0000;
}